language: minimal

matrix:
    include:
        - os: linux
          env: PYENV=py37
        - os: linux
          env: PYENV=py27
        - os: osx
          env: PYENV=py37
        - os: osx
          env: PYENV=py27
# turn these on once travis support gets a little better
#        - os: windows
#          env: PYENV=py37
#        - os: windows
#          env: PYENV=py27

before_install:
  - bash ./ci/travis-install.sh
  - export PATH=$HOME/miniconda/bin:$PATH
  - source activate pyam-testing
  # This is required to get FreeType v2.6.1 instead of a newer version.
  # If this does not happen, then slight changes occur in plots causing
  # failures.
  - conda uninstall --yes --force matplotlib
  - pip install matplotlib==2.1.2
  - echo $CONDA_PREFIX
  - python -c 'import geopandas'

install:
  - echo $CONDA_PREFIX
  - python -c 'import geopandas'
  - pip install -e .[tests]

script:
  - echo $CONDA_PREFIX
  - python -c 'import geopandas'
  - py.test tests --verbose --mpl --cov=pyam --cov-config ci/.coveragerc --cov-report term-missing
  # silly problems are there for building docs in py2, so just test py3,
  # it gets the job done
  - cd doc && pip install -r requirements.txt && make html && cd ..

after_success:
  - coveralls
