language: sh

matrix:
    include:
        - os: linux
          env: PYENV=py37
        - os: linux
          env: PYENV=py27
        - os: osx
          env: PYENV=py37
        - os: osx
          env: PYENV=py27
# Observed on 10-Feb-19, choclatey builds for miniconda3 break
# see: https://github.com/conda/conda/issues/6064
# It is not clear how/when this can be fixed, so turn this back off for now
#        - os: windows
#          env: PYENV=py37
# there is no maintained miniconda2 package for chocolatey
#        - os: windows
#          env: PYENV=py27

before_install:
  - source ./ci/env.sh
  - bash ./ci/travis-install.sh
  - source activate testing
  # This is required to get FreeType v2.6.1 instead of a newer version.
  # If this does not happen, then slight changes occur in plots causing
  # failures.
  - conda uninstall --yes --force matplotlib
  - pip install matplotlib==2.1.2

install:
  # this should only install testing libraries as all others should be installed
  # with ci/traviss-install.sh
  - pip install -e .[tests,geoplots]

script:
  - python -c "import os, sys; assert os.environ['PYVERSION'] == sys.version[0]"
  - py.test tests --verbose --mpl --cov=pyam --cov-config ci/.coveragerc --cov-report term-missing
  # silly problems are there for building docs in windows and py2 (tries to look for py3 jupyter kernel)
  - cd doc
  - if [[ "${PYENV}" == "py37" && "${TRAVIS_OS_NAME}" != 'windows' ]]; then pip install -r requirements.txt && make html; fi
  - cd ..

after_success:
  - coveralls
