language: sh

matrix:
    include:
        - os: linux
          env: PYENV=py36
        - os: linux
          env: PYENV=py37
        - os: osx
          env: PYENV=py36
        - os: osx
          env: PYENV=py37
# Observed on 10-Feb-19, choclatey builds for miniconda3 break
# see: https://github.com/conda/conda/issues/6064
# It is not clear how/when this can be fixed, so turn this back off for now
#        - os: windows
#          env: PYENV=py37
# there is no maintained miniconda2 package for chocolatey
#        - os: windows
#          env: PYENV=py27

before_install:
  - source ./ci/env.sh
  - bash ./ci/travis-install-miniconda.sh
  - conda create -n testing python=$PYVERSION --yes
  - source activate testing
  - make -B virtual-environment
# this is necessary to get free type version compatability
  - conda uninstall matplotlib && conda install -c defaults matplotlib==3.0.3 

install:
  - make install

script:
  - conda list
  - python -c "import os; print(os.environ['PYVERSION'])"
  - python -c "import sys; print(sys.version)"
  - python -c "import os, sys; assert os.environ['PYVERSION'] == '.'.join([sys.version[0], sys.version[2]])"
  - make test
  # only test docs once to make sure everything works on most recent python
  - cd doc
  - if [[ "${PYENV}" == "py37" && "${TRAVIS_OS_NAME}" != 'windows' ]]; then make html; fi
  - cd ..

after_success:
  - cd tests && coveralls
