# This workflow installs the package on several OS/Python versions and runs the tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ '**' ]

jobs:
  pytest:
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        python-version:
        - '3.9'
        - '3.8'
        # Remove dependency `importlib_metadata` when dropping support for Python 3.7
        - '3.7'

      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} py${{ matrix.python-version }}
  
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies and package
      run: pip install -e .[tests,optional_plotting,optional_io_formats,tutorials]

    - name: Test with pytest
      if: ${{ matrix.python-version != '3.9' }}
      run: pytest tests

    # only execute Matplotlib tests on latest Python version
    - name: Test with pytest including Matplotlib & Codecov
      if: ${{ matrix.python-version == '3.9' }}
      run: pytest tests --mpl --cov=./ --cov-report=xml

    - name: Upload coverage report to Codecov
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9' }}
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        env_vars: ${{ matrix.os }} py${{ matrix.python-version }}
